extend layout
block content
  .presentation
    h1 Uqido Car
    p WASD is the way!
    p Otherwise, you can use buttons below!
  .control_panel
    #video_stream.video_stream
      img(src="http://#{host}:8080/?action=stream")
      .placeholder
        p Can't reach video, refresh the page or wait till nothing!
    .keyboard
        a.drive_control.button.w(href="#", data-drive-go=1) w
        a.drive_control.button.a(href="#", data-drive-turn=-1) a
        a.drive_control.button.s(href="#", data-drive-go=-1) s
        a.drive_control.button.d(href="#", data-drive-turn=1) d
  script
    //- | $(document).on("load", createImageLayer("http://#{host}:8080"));
    | $(document).on("keydown", function(e) {keyboardControl(e)});
    | $(".drive_control").on("mousedown touchstart", function(e) {mouseControl(e)});
